@font-face { font-family: Azonix; src: url('../annet/Azonix.otf'); }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-space {
    height: 20vh;
}

#header {
    font-size: 1.3vw;
    color: white;
    background-color: #5419fe;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 99;
}

#header2 {display: none;}

    header div {
        margin: 1.25vh 5vw;

    }
    header div a {
        text-decoration: none;
        color: white;
    }


#section1 {
    height: 100vh;
    background-color: rgb(20, 20, 20);
    color: white;
}
    .s1_contanier {
        width: 70vw;
        margin: auto;
        padding: 40vh 10vw ;
    }

        .navn {
            font-family: Azonix;
            font-size: 3.5vw;
            text-align: center;
            letter-spacing: 0.5vw;
            word-spacing: -0.5vw;
            margin: auto auto 1.4vh auto;
        }
        .undertekst {
            font-size: 2.5vw;
            text-align: center;
            font-weight: 200;
            color: #4538ff;
            margin: auto auto 7vh auto;
        }
        .mittArbeid {
            font-size: 1.4vw;
            text-align: center;
            font-weight: 200;
            margin: auto;
            border: 0.1vw solid #ffffff;
            border-radius: 3px;
            width: 10vw;
            padding: 0.5vw;
        }

        p a {
            text-decoration: none;
            color: white;
        }

/*  Blir brukt på section 2, 3, 4 */
.tittle {
    font-size: 2.5vw;
    margin: 2vh 0 3vh 0;
    text-align: center;
    font-weight: 200;
}

#section2 {
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 5vh 0 5vh 0;
}

    .s2__about {
        margin: auto;
        height: 85%;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3vh 0 0 0;
    }
        .s2__person-info-container {
            /* background-color: lightgrey; */
            height: 100%;
            width: 40%;
            margin-right: 2vw;
            font-size: 1.3vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .s2__person-info__img-container {
                height: 15vw;
                width: 15vw;
                background-color: #5419fe;
                display: flex;
                align-items: center;
                border-radius: 50%;
                margin: 0 0 3vw 0;

            }

            .s2__person-info__img {
                width: 65%;
                height: auto;
                display: block;
                margin: auto;
                color: blac;
            }

            .s2__person-info__text {
                text-align: center;
                width: 80%;
                margin: 0 auto 0 auto;
            }

        .s2__skill-bar-container {
            height: 100%;
            width: 60%;
            font-size: 1.3vw;
            /* border: 1px solid black; */
        }

        .title {
            text-align: center;
            font-size: 1.5vw;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 3vh;
        }

            .skill-bar {
                width: 95%;
                margin: 2vh 1vw;
                display: flex;
                align-items: center;
            }

                .skill-bar--topic {
                    width: 15vw;
                    margin-right: 0.5vw;
                    text-align: center;
                    background: lightgray;
                    padding: 0.5vh;
                }

                .skill-bar--fill-container {
                    width: 100%;
                    background-color: #ddd;
                }

                    .skill-bar--fill {
                        text-align: right;
                        padding: 0.5vh 1vh 0.5vh 0;
                        color: white;
                    }

                    .html {
                        width: 90%; 
                        background-color: rgb(22, 115, 238);
                    }
                    .css {
                        width: 80%; 
                        background-color: rgb(22, 115, 238);
                    }
                    .js {
                        width: 60%; 
                        background-color: rgb(22, 115, 238);
                    }
                    .photoshop {
                        width: 90%; 
                        background-color: rgb(252, 132, 33);
                    }
                    .illustrator {
                        width: 70%; 
                        background-color: rgb(252, 132, 33);
                    }
                    .indesign {
                        width: 30%; 
                        background-color: rgb(252, 132, 33);
                    }
                    
                    .placeholder {
                        width: 99%;
                        background-color: rgb(233, 233, 233);
                    }


#section3 {
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 5vh 0 0 0;
    margin: auto auto 10vh auto;
}

    .s3_container {
    width: 90vw;
    margin: auto;
    font-size: 1.5vw;
    height: 90%;
    display: flex;
    justify-content: space-around;
    }
        .s3_box1 {
            background-color: lightgrey;
            width: 31%;
            height: 90%;
            cursor: pointer;
            text-align: center;
            background-color: lightgray;
            /* background-image: url("../annet/Portfolio/portfolio_img2.jpg"); */
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
        }

            .s3_box1 p {
                font-size: 1.3vw;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-top: 1.5vh;
                position: relative;
                top: 73vh;
                padding: 0.5vh 0;
                line-height: 1.3;
                border-radius: 5px;
            }

        .s3_box2 {
            background-color: lightgrey;
            width: 31%;
            height: 90%;
            cursor: pointer;
            text-align: center;
            background-image: url("../annet/Portfolio/1/portfolio_img2.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
        }

            .s3_box2 p {
                font-size: 1.3vw;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1.3;
                margin-top: 1.5vh;
                position: relative;
                top: 73vh;
                padding: 0.5vh 0;
                border-radius: 5px;
            }

        .s3_box3 {
            background-color: lightgrey;
            width: 31%;
            height: 90%;
            cursor: pointer;
            text-align: center;
            background-image: url("../annet/Portfolio/1/portfolio_img1.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            background-size: cover;
        }

            .s3_box3 p {
                font-size: 1.3vw;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-top: 1.5vh;
                position: relative;
                top: 73vh;
                padding: 0.5vh 0;
                line-height: 1.3;
                border-radius: 5px;
            }

#section4 {
    padding-top: 10vh;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    
}

        .s4_box1 {
            margin: 0;
        }

        #s4_links {
            padding-top: 0vh;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        #s4_links a {
            text-decoration: none;
            color: black;
            padding: 1rem;
            font-size: 2vw;
            display: block;
            font-weight: 300;
        }

        #s4_links i {
            padding: 1vw;
        }

    footer {
        height: 20vh;
        width: 100%;
        background-color: rgb(20, 20, 20);
    }

    .f1_container {
        padding: 6vh;
        margin: 0;
    }

    footer img {
        display: block;
        width: auto;
        height: 8vh;
        margin: auto;
    }



